.blue1 {
    background-color: #0E3854;
}

.blue2 {
    background-color: #067EED;
}

.blue3 {
    background-color: #280B6F;
}

.blue4 {
    background-color: #6730EC;;
}

.blue5 {
    background-color: #7984EE;
}

.orange {
    background-color: #FF7C1F;
}

